body {
    display: flex;
}
<<<<<<< HEAD

h1 {
    color: black;
    font-size: 12px;
}

h2 {
    color: #fff;
    background-color: #333;
    text-align: center;
}
=======
>>>>>>> 1cb626976d845d32c2fffb13f23d009c70987d68
